# IDEA
.idea/
**.iml

# Windows Binaries
modules/*.exe
/modules/**/*.exe
modules/treestats/R

# Linux Binaries
modules/newick/newick
modules/raxml/raxml-ng-2
modules/*/bin

# Conda Binaries
modules/conda/miniconda3

# User Data
modules/*/data
